In [34]:
import warnings
warnings.filterwarnings('ignore')

import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_calender = pd.read_csv('../input/calendar.csv')
print(len(df_calender))
df_calender.head(2)

1393570

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00

In [6]:
df_reviews = pd.read_csv('../input/reviews.csv')
print(len(df_reviews))
df_reviews.head()

84849

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [9]:
df_reviews[df_reviews['listing_id']==7202016]

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
5,7202016,43979139,2015-08-23,1154501,Barent,"Kelly was great, place was great, just what I ..."
6,7202016,45265631,2015-09-01,37853266,Kevin,Kelly was great! Very nice and the neighborhoo...
7,7202016,46749120,2015-09-13,24445447,Rick,hola all bnb erz - Just left Seattle where I h...
8,7202016,47783346,2015-09-21,249583,Todd,Kelly's place is conveniently located on a qui...
9,7202016,48388999,2015-09-26,38110731,Tatiana,"The place was really nice, clean, and the most..."
10,7202016,49441269,2015-10-04,39852826,Tim,"The place was really nice, clean and quiet at ..."
11,7202016,50490194,2015-10-12,384855,Tony,The listing was exactly as described! Kelly's...
12,7202016,53862449,2015-11-13,21607838,Jason,Very welcoming and a nicer place to live in th...
13,7202016,54562283,2015-11-21,17052263,Don,"Great location, great price, great host! Thank..."
14,7202016,55212826,2015-11-29,4774006,Vivian,Staying at Kelly's was easy. The location was ...
15,7202016,58268184,2016-01-02,41297839,Travis,Kelly was an amazing host who made the stay ve...

In [10]:
df_calender[df_calender['listing_id']==7202016]

         listing_id        date available   price
1177490     7202016  2016-01-04         t  $65.00
1177491     7202016  2016-01-05         t  $65.00
1177492     7202016  2016-01-06         t  $65.00
1177493     7202016  2016-01-07         f     NaN
1177494     7202016  2016-01-08         f     NaN
1177495     7202016  2016-01-09         f     NaN
1177496     7202016  2016-01-10         f     NaN
1177497     7202016  2016-01-11         f     NaN
1177498     7202016  2016-01-12         t  $65.00
1177499     7202016  2016-01-13         t  $65.00
1177500     7202016  2016-01-14         t  $65.00
1177501     7202016  2016-01-15         t  $65.00
1177502     7202016  2016-01-16         t  $65.00
1177503     7202016  2016-01-17         t  $65.00
1177504     7202016  2016-01-18         t  $65.00
1177505     7202016  2016-01-19         t  $65.00
1177506     7202016  2016-01-20         t  $65.00
1177507     7202016  2016-01-21         t  $65.00
1177508     7202016  2016-01-22         t  $65.00
1177509     7202016  2016-01-23         t  $65.00
1177510     7202016  2016-01-24         t  $65.00
1177511     7202016  2016-01-25         t  $65.00
1177512     7202016  2016-01-26         t  $65.00
1177513     7202016  2016-01-27         t  $65.00
1177514     7202016  2016-01-28         t  $65.00
1177515     7202016  2016-01-29         t  $65.00
1177516     7202016  2016-01-30         t  $65.00
1177517     7202016  2016-01-31         t  $65.00
1177518     7202016  2016-02-01         t  $65.00
1177519     7202016  2016-02-02         t  $65.00
...             ...         ...       ...     ...
1177825     7202016  2016-12-04         t  $75.00
1177826     7202016  2016-12-05         t  $75.00
1177827     7202016  2016-12-06         t  $75.00
1177828     7202016  2016-12-07         t  $75.00
1177829     7202016  2016-12-08         t  $75.00
1177830     7202016  2016-12-09         t  $75.00
1177831     7202016  2016-12-10         t  $75.00
1177832     7202016  2016-12-11         t  $75.00
1177833     7202016  2016-12-12         t  $75.00
1177834     7202016  2016-12-13         t  $75.00
1177835     7202016  2016-12-14         t  $75.00
1177836     7202016  2016-12-15         t  $75.00
1177837     7202016  2016-12-16         t  $75.00
1177838     7202016  2016-12-17         t  $75.00
1177839     7202016  2016-12-18         t  $75.00
1177840     7202016  2016-12-19         t  $75.00
1177841     7202016  2016-12-20         t  $75.00
1177842     7202016  2016-12-21         t  $75.00
1177843     7202016  2016-12-22         t  $75.00
1177844     7202016  2016-12-23         t  $75.00
1177845     7202016  2016-12-24         t  $75.00
1177846     7202016  2016-12-25         t  $75.00
1177847     7202016  2016-12-26         t  $75.00
1177848     7202016  2016-12-27         t  $75.00
1177849     7202016  2016-12-28         t  $75.00
1177850     7202016  2016-12-29         t  $75.00
1177851     7202016  2016-12-30         t  $75.00
1177852     7202016  2016-12-31         t  $75.00
1177853     7202016  2017-01-01         t  $75.00
1177854     7202016  2017-01-02         t  $75.00

[365 rows x 4 columns]

In [76]:
df_listings = pd.read_csv('../input/listings.csv')
print(len(df_listings))
df_listings.head(2)

3818

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48

In [70]:
df_temp = df_listings[df_listings['id']==3245876]
# len(df_temp['amenities'].values[0])

In [120]:
df_listings['host_response_time'].value_counts()

within an hour        1692
within a few hours     968
within a day           597
a few days or more      38
Name: host_response_time, dtype: int64

In [121]:
host_response_time_pred = df["host_response_time"][((df['review_scores_rating'] == df.iloc[i]["review_scores_rating"]))].median()

NameError: name 'df' is not defined

In [35]:
original = df_listings['calendar_updated'].drop_duplicates()
original = original.values

regex_pattern = '(\d+)(?:\s)([a-z\s]+)'

modified = []
for i in range(len(original)):
    text = original[i]
    if text == 'yesterday':
        modified.append(2)
    elif text == 'today':
        modified.append(1)
    elif text == 'a week ago':
        modified.append(7)
    elif text == 'never':
        modified.append(0)
    else:
        match = re.match(regex_pattern, text)
        if match.group(2)[0:3] == 'day':
            modified.append (int(match.group(1)))
        elif match.group(2)[0:4] == 'week':
            modified.append (int(match.group(1))*7)
        elif match.group(2)[0:5] == 'month':
            modified.append (int(match.group(1))*30)

for i in range(len(modified)):
    print ('{} = {}'.format(original[i], modified[i]))
    
    
# def convert(df):

4 weeks ago = 28
today = 1
5 weeks ago = 35
6 months ago = 180
7 weeks ago = 49
2 weeks ago = 14
yesterday = 2
5 months ago = 150
a week ago = 7
5 days ago = 5
3 days ago = 3
2 months ago = 60
3 months ago = 90
4 days ago = 4
2 days ago = 2
3 weeks ago = 21
1 week ago = 7
13 months ago = 390
6 weeks ago = 42
8 months ago = 240
12 months ago = 360
4 months ago = 120
never = 0
6 days ago = 6
10 months ago = 300
14 months ago = 420
9 months ago = 270
7 months ago = 210
30 months ago = 900
11 months ago = 330
22 months ago = 660
16 months ago = 480
15 months ago = 450
17 months ago = 510